{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}
<section class="bg-white text-plum">
  <div class="text-center max-full mx-auto md:max-w-7xl px-4 py-8 md:px-8 md:py-32">
    <h2 class="display text-2xl md:text-5xl mb-16">{{ collection.title }}</h2>

  {% paginate collection.products by 12 %}
    <div class="grid grid-cols-1 md:grid-cols-6 gap-8">
      {% for product in collection.products %}
        <div class="col-1 md:col-span-2">
          {% if product.featured_image %}
            {% render 'image',
              class: 'aspect-square media-container shadow-theme',
              image: product.featured_image,
              url: product.url,
              width: 400,
              height: 400,
              crop: 'center'
            %}
          {% endif %}
          <div class="mt-4">
            <p class="font-bold text-lg">{{ product.title | escape | link_to: product.url }}</p>
            <p>
              {% if product.price_min < product.price_max %}
                {{ product.price_min | money }} – {{ product.price_max | money }}
              {% else %}
                {{ product.price | money }}
              {% endif %}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="w-full mt-8 gap-8 flex justify-center">
      {{ paginate | default_pagination }}
    </div>
  {% endpaginate %}
  </div>
</section>


{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
