<header class="bg-brand text-white w-full top-0 z-30 relative">
  <!-- Desktop Menu -->
  <div class="mx-auto py-4 px-8 justify-between items-center hidden md:flex">
    <nav class="nav-menu w-1/3">
      {% for link in linklists['main-menu'].links %}
        <a class="mr-4 menu-link" 
           href="{{ link.url }}">
            {{ link.title }}
        </a>
      {% endfor %}
    </nav>
    <div class="text-white home-nav grow-0">
      <a href="{{ routes.root_url }}" class="[&>svg]:h-10 [&>svg]:w-auto block">{{ 'jellybeanz.svg' | inline_asset_content }}</a>
    </div>
    
    <div class="shop-menu w-1/3 flex align-middle justify-end gap-x-3">
      {% if shop.customer_accounts_enabled %}
        <shopify-account menu="{{ section.settings.customer_account_menu }}">
          {{ 'icon-account.svg' | inline_asset_content }}
        </shopify-account>
      {% endif %}

      <a href="{{ routes.cart_url }}" class="[&>svg]:w-5 relative inline-flex items-center">
        {% if cart.item_count > 0 %}
          <span class="absolute -top-1 -right-2 bg-white text-brand text-[10px] font-bold leading-none rounded-full w-4 h-4 flex items-center justify-center">
            {{ cart.item_count }}
          </span>
        {% endif %}
        {{ 'icon-cart.svg' | inline_asset_content }}
      </a>
    </div>
  </div>

<div class="flex pt-8 px-8 gap-8 md:hidden">
    <button
    id="menu-toggle"
    class="z-50 relative flex flex-col gap-1.5 p-2"
    aria-label="Open menu"
    aria-expanded="false"
  >
    <span class="block w-6 h-0.5 bg-current transition-all duration-200"></span>
    <span class="block w-6 h-0.5 bg-current transition-all duration-200"></span>
    <span class="block w-6 h-0.5 bg-current transition-all duration-200"></span>
  </button>

  <div class="home-nav grow-0 text-white">
      <a href="{{ routes.root_url }}" class="[&>svg]:h-7 [&>svg]:w-auto block">{{ 'jellybeanz.svg' | inline_asset_content }}</a>
  </div>
</div>
  <!-- Hamburger button -->


  <!-- Overlay -->
  <div
    id="menu-overlay"
    class="fixed h-screen inset-0 bg-plum/40 z-40 opacity-0 pointer-events-none transition-opacity duration-250"
  ></div>

  <!-- Slide panel -->
  <nav
    id="mobile-menu"
    class="text-white fixed top-0 left-0 w-[90%] border-r-2 border-plum h-screen z-50 -translate-x-full transition-transform duration-300 ease-in-out bg-plum px-8 py-4 flex flex-col gap-8"
    aria-hidden="true"
  >
    <button id="menu-close" class="self-end text-xl text-white" aria-label="Close menu">✕</button>
    <div class="home-nav grow-0">
      <a href="{{ routes.root_url }}" class="[&>svg]:h-8 [&>svg]:w-auto block">{{ 'jellybeanz.svg' | inline_asset_content }}</a>
    </div>
    <div class="flex flex-col gap-6 text-lg text-white">
      {% for link in linklists['main-menu'].links %}
        <a class="mr-4 menu-link" 
           href="{{ link.url }}">
            {{ link.title }}
        </a>
      {% endfor %}
    </div>
  </nav>
  <div class="absolute left-0 right-0">
    {% render 'divider-brand-transparent.liquid' %}
  </div>
</header>



{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "link_list",
      "id": "customer_account_menu",
      "label": "t:labels.customer_account_menu",
      "default": "customer-account-main-menu"
    }
  ]
}
{% endschema %}
